NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <!-- One or more NationalPark elements -->
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name element: required, exactly one -->
              <xs:element name="Name" type="xs:string"/>
              <!-- Phone element: required, one or more allowed -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <!-- Address element: required, exactly one -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street"  type="xs:string"/>
                    <xs:element name="City"    type="xs:string"/>
                    <xs:element name="State"   type="xs:string"/>
                    <xs:element name="Zip"     type="xs:string"/>
                  </xs:sequence>
                  <!-- NearestAirport: REQUIRED attribute on Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Rating: OPTIONAL attribute on NationalPark -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
